[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Inline Editor Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]
  <link rel="stylesheet" href="extensions/InlineEditor/web/js/jquery/css/ui-lightness/jquery-ui-1.8.10.custom.css">

<table>
  [% inline_editable = Param('inlineeditor_bug_list_editable_fields') %]
  [% caneditcolumn = 0 %]

  [% has_access = 0 %]
  [% access_groups = Param('inlineeditor_access_groups') %]
  [% FOREACH group IN access_groups %]
    [% IF (user.in_group(group)) %]
      [% has_access = 1 %]
    [% END %]
  [% END %]

  [% IF (has_access == 1) %]
    [% FOREACH inline_field IN inline_editable %]
      [% IF (inline_field == column) %]
        [% caneditcolumn = 1 %]
      [% END %]
    [% END %]
  [% END %]

  [% IF (caneditcolumn == 1) %]
    [% IF column == 'assigned_to' AND daily AND bug.bug_status == "NEW" AND bug.assigned_to != user.login() %]
      <tr id="[% bug.bug_id %]_[% column %]_static">
        <td title="[% bug.assigned_to %]" ondblclick="make_daily_editable('[% bug.bug_id %]_[% column %]');"> -- <!--
    [% ELSIF column == 'assigned_to' AND daily AND bug.bug_status == "NEW" AND bug.assigned_to == user.login() %]
      <tr id="[% bug.bug_id %]_[% column %]_static">
        <td title="[% bug.assigned_to %]">
    [% ELSE %]
      <tr id="[% bug.bug_id %]_[% column %]_static">
        <td ondblclick="makeeditable('[% bug.bug_id %]_[% column %]');">
    [% END %]
  [% ELSE %]
    [% IF column == 'scrums_blocked' %]
      <tr>
        <td><a href="show_bug.cgi?id=[% bug.$column %]">
    [% ELSE %]
      <tr>
        <td>
    [% END %]
  [% END %]     
